.container {
  height: 90vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 10px;
  row-gap: 14px;
}

.btngithub {
  @apply bg-btngit py-2.5 rounded-md px-10 text-white font-medium text-[15px] flex items-center justify-center space-x-2;
}

.btnemail {
  @apply bg-white border border-borderemail py-2.5 rounded-md px-10 font-normal text-[15px] text-default flex items-center space-x-2 justify-center;
}
