@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Thin'),
    url('./webfont/Roboto-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Light'),
    url('./webfont/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Regular'),
    url('./webfont/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Medium'),
    url('./webfont/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Bold'),
    url('./webfont/Roboto-Bold.ttf') format('ttf');
}

@tailwind utilities;

.header-area {
  @apply px-[3rem] py-5;
}
.footer {
  @apply w-full py-6 px-[3rem]  border-t;
}

.subscribe {
  @apply bg-btnPrimary py-3 px-5 rounded-md text-white h-[45px];
}

.footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 90px;
}

.footer-links ul li {
  font-size: 15px;
  color: #7a8da2;
  font-weight: 400;
  margin-top: 5px;
}

.copyright-area {
  margin-top: 30px;
  margin-bottom: 10px;
}

.copyright-area img {
  width: auto;
  height: 20px;
}

.copyright-area p {
  font-size: 12px;
  color: #7a8da2;
  font-weight: 400;
  margin-top: 15px;
}
